<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
</head>
<body>
    <p>
        Sua proposta para responder à pergunta foi através de um jogo, o qual ele<br>
        chamou de "O Jogo da Imitação", e que hoje chamamos de "Teste de Turing".<br>
        Nele, haveriam 3 participantes: um homem (A), uma mulher (B) e um interro-<br>
        gador (C), que poderia ser de qualquer sexo.<br>
        Em salas separadas e podendo se comunicar somente através de papéis datilo-<br>
        grafados, tanto A quanto B deveriam convencer C de que era a mulher, de <br>
        modo que o papel do interrogador seria distinguir quem dos dois era, verda-<br>
        deiramente a mulher.
    </p>
    <a href="/story3">continuar</a>
</body>
</html>