<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
</head>
<body>
    <h1>Alan Turing</h1>
    <p>
        É considerado o pai da computação, tendo sido peça<br>
        chave para derrotar o Eixo na Segunda Guerra Mundial.<br>
        Ele foi um grande pensador acerca da Inteligência<br>
        Artificial, e publicou em 1950 o artigo "Computing<br>
        Machinery and Intelligence", no qual tentou responder<br>
        à pergunta: "As máquinas podem pensar?"
    </p>
    <p><a href="/story2">continuar</a></p>
</body>
</html>