<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        A grande sacada de Turing foi: E se trocassemos a mulher por um computador,<br>
        e o objetivo do interrogador agora passasse a ser descobrir quem era o <i>humano</i><br>
        de verdade? Para ele, caso em pelo menos 30% dos casos o interrogador errasse,<br>
        ou não conseguisse dizer quem era o computador, isso significaria que a máquina<br>
        poderia, de fato, pensar.
    </p>
    <a href="/story4">Continuar</a>
</body>
</html>